




*.a
apache/Dockerfile
*.app
# Debug files
*.dll
*.dSYM/
*.dylib
*.elf
*.exe
# Executables
*.gch
*.hex
*.i*86
*.ko
*.la
*.lib
# Libraries
*.lo
*.o
*.obj
# Object files
*.out
*.pch
# Precompiled Headers
# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.su
.templates/instructions
*.x86_64
